<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gametest" >

        <!--
             You can find your app ID in the AdMob UI. For android:value,
            insert your own AdMob app ID in quotes, as shown below.
            Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713
        -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2207643711872698~8909193988" />

        <activity
            android:name=".BonusLiveBorrar"
            android:exported="false"
            android:label="@string/title_activity_bonus_live_borrar" />
        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity22"
            android:exported="false" />

        <activity
            android:name=".mapas.normal.MainActivity2_Nivel12"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel11"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel10"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel54"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel53"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel52"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel51"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel24"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel23"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel22"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel21"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel20"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel19"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel18"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel17"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel16"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel15"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel14"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.MainActivity2_Nivel13"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel50"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel49"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel48"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel47"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel46"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel45"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel44"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel43"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel42"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.god.MainActivity2_Nivel41"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel40"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel39"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel38"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel37"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel36"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel35"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel34"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel33"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel32"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel31"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel30"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel29"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel28"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel27"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel26"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.dificil.MainActivity2_Nivel25"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.facil.MainActivity2_Nivel9"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.facil.MainActivity2_Nivel8"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.facil.MainActivity2_Nivel7"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.facil.MainActivity2_Nivel6"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.facil.MainActivity2_Nivel5"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.normal.map1normal"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Bonnuslive"
            android:exported="false"
            android:label="@string/title_activity_bonnuslive"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.facil.MainActivity2_Nivel4"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".suportheapp"
            android:exported="false"
            android:label="@string/title_activity_suportheapp"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.facil.MainActivity2_Nivel3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.facil.MainActivity2_Nivel2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mapas.facil.MainActivity2_Nivel1"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MainAcitivity"
            android:exported="true"> <!-- Explicitamente especificado para actividades con intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
